body {
    background-color: #487c9d;
}

.quartett-board {
    min-height: 1400px;
    background-size: 100%;
    padding-top: 20px;
    padding-right: 10px;
}

.quartett-card {
    border: 3px solid white;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 320px;
    width: 230px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
}

.quartett-card:hover {
    border: 3px solid #5f5b8b;
    background-color: rgba(255, 255, 255, 0.8);
}

.quartett-card-img {
    height: 128px;
}

table.quartett-card-techpoints,
table.quartett-card-techpoints tr {
    width: 100%;
    text-align: left;
}

table.quartett-card-techpoints tr td {
    padding: 1px;
    padding-left: 10px;
}

table.quartett-card-techpoints {
    margin: 10px;
    font-size: 0.9em;
    text-shadow: 0px 0px 4px #c9e3ff;
    color: #191824;
}

table.quartett-card-techpoints .tech-value {
    font-weight: 600;
}

.view-container {
    padding: 1%;
}

.car-title {
    font-size: 3em;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
}

.cars-list {
    background-color: rgba(150, 150, 180, 0.8);
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    border-bottom: 4px solid #45405c;
    z-index: 1000;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.fixed-menu {
    margin-top: 124px;
}

.cars-list li {
    float: left;
    list-style-type: none;
}

@media (max-width: 768px) {
    .car-choice img {
        display: none;
    }

    .car-choice {
        width: auto;
        padding: 3px;
        border: 1px solid #9996bb;
        height: auto;
    }

    .car-choice:hover {
        border: 1px solid #5c5a72;
    }

    .car-choice:active {
        border: 1px solid #16161d;
    }
}

@media (min-width: 768px) {
    .car-choice img {
        display: block;
    }

    .car-choice {
        width: 84px;
        padding: 0;
        border: 2px solid #9996bb;
        height: 100px;
    }

    .car-choice:hover {
        border: 2px solid #5c5a72;
    }

    .car-choice:active {
        border: 2px solid #16161d;
    }
}

.car-choice img {
    position: relative;
    top: 0;
    left: 0;
    max-height: 70px;
    max-width: 80px;
    margin: 0 auto;
}

.car-choice {
    background-color: white;
    margin-right: 10px;
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.car-choice-info {
    font-size: 80%;
    margin: 0;
    text-shadow: 1px 1px 6px #b6e5ff;
}

.main {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.car-details {
    text-align: left;
}

.car-details img.car-img {
    width: 100%;
}

.car-details img.plug-img {
    border: 2px solid #ffffff;
    border-radius: 3px;
    margin-right: 20px;
}

.plug-choice-bar {
    padding: 10px;
    text-align: left;
}

div.plug-choice img {
    width: 5em;
    margin: 2px;
    border: 2px solid #dddddd;
    border-radius: 3px;
}

p.plug-choice-info {
    font-size: 1em;
    margin: 0;
}

.info-overview,
.info-main {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    margin: 0;
}

.info-overview {
    text-align: center;
}

.charges-result {
    font-size: 1.3em;
}

.small-link {
    font-size: 0.8em;
    cursor: pointer;
}

.options-box {
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 55px;
}

.details-box {
    border: 1px solid gray;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.superhero-font {
    font-size: 70px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}

.charge-power {
    padding-top: 40px;
    padding-left: 50px;
    font-size: 1.5em;
    font-weight: 800;
    color: #a3a3a3;
    text-shadow: 0px 0px 8px #ffffff;
}

.result-panel {
    margin-top: 50px;
}

.slider-label,
.slider-value {
    font-size: 80%;
    font-weight: 700;
}

.slider-value
.slider-value input {
    font-size: 90%;
    text-align: right;
    color: #322f82;
}

.slider-value input[type=number] {
    width: 50%;
    text-align: right;
}

.slider-value input[type=number]::selection {
    background: #b4cbde; /* WebKit/Blink Browsers */
}

.slider-value input[type=number],
.slider-value textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding-right: 2px;
    margin-right: 2px;
    border: 1px solid #DDDDDD;
}

.slider-value input[type=number]:focus,
.slider-value textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding-right: 2px;
    margin-right: 2px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.slider-row {
    padding: 0 10px;
}

.slider-bar {
    padding-top: 2px;
    margin-top: -15px;
    margin-bottom: -5px;
}

.results-icon {
    margin: 8px;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.results-text {
    font-size: 1.1em;
    margin: 5px;
}

.results-text-label {
    font-size: 0.6em;
    color: #6c6c6c;
    margin-left: -5px;
}

.alternative-value {
    color: #767388;
    font-weight: 300;
    font-size: 0.9em;
}

.nav-tabs,
.nav-tabs a {
    color: #464654;
    cursor: pointer;
}

.tab-pane {
    background-color: white;
}

.ui-slider {
    margin-top: 6px;
}

.navbar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.65);
}

.navbar-brand {
    padding-left: 30px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.angular-google-map-container {
    height: 360px;
}

dl {
    font-size: 90%;
    margin-left: 30px;
}

dd {
    margin-left: 10px;
}

dt {
    margin-top: 0.8em;
}

h4 {
    margin-top: 1.5em;
}

.knowhow-tab img {
    padding: 5px;
    max-width: 100%;
    max-height: 200px;
}

.selected-term {
    border: 2px solid #1f1c59;
    padding: 2px;
    background-color: #f0e8ff;
}

p.hint {
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
}

p.page-intro {
    text-align: center;
    margin-top: 20px;
}

.info-with-text {
    padding: 10px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: left;
    font-weight: 700;
}

ul.car-options {
    list-style-type: none;
    padding-left: 0;
    color: #797979;
}

ul.car-options li input {
    margin-right: 10px;
}

.info-with-text h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.unit-label {
    float: right;
    padding-top: 11px;
    padding-left: 5px;
    min-width: 100px;
}