<div ng-controller="CarCtrl">

    <div id="cars-list" class="row cars-list" ng-class="{'fixed-top':boolChangeClass}">
        <div class="row btn btn-primary" style="margin-left: 20px; margin-bottom: 20px;" ng-click="overview()">&larr;
            Back to
            Overview
        </div>
        <ul class="row">
            <li ng-repeat="car in cars" ng-click="select(car)">
                <div class="car-choice col-lg-1" ng-class="{':active':selectedCar === car}">
                    <p class="car-choice-info" ng-bind="car.name"></p>
                    <img src="images/{{car.image}}"/>
                </div>
            </li>
        </ul>
    </div>

    <div class="view-container row main" ng-class="{'fixed-menu':boolChangeClass}">
        <div class="car-details" ng-show="selectedCar !== undefined">

            <div class="col-lg-3 col-md-12">
                <div class="info-overview">
                    <img class="car-img" src="images/{{selectedCar.image}}" style="background-color: white;">

                    <h2 class="car-title">{{selectedCar.name}}</h2>

                    <p>
                        <strong>{{selectedCar.range}} km</strong>
                        Range with a single Charge
                    </p>

                    <hr style="border-top: 2px solid white;"/>
                    <h4>Chargers on Trip:</h4>
                    <div class="plug-choice-bar row">
                        <div ng-show="supportsPlug(plug, selectedCar)" ng-repeat="plug in plugs"
                             ng-click="setPower(plug, selectedCar)" class="col-md-12 plug-choice"
                             ng-class="{'plug-selected':selectedPlug === plug}">

                            <img class="plug-img" src="images/{{plug.image}}">
                            <span class="plug-choice-info"><span ng-bind="plug.name"></span> <span
                                    ng-show="plug.chargingPower">(<span ng-bind="plug.chargingPower"></span> kW)</span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="info-main">

                    <map zoom="5" style="display:block;height:400px;width: 100%;padding-bottom: 20px;"/>

                    <div class="options-box">
                        <div class="row slider-row">
                            <span class="col-md-3 slider-label">Distance to travel:</span>

                            <div class="col-md-6 slider-bar">
                                <div ui-slider min="0" max="2000"
                                     ng-model="calcParams.distanceToTravel"></div>
                            </div>
                            <span class="col-md-3 slider-value"><span
                                    ng-bind="calcParams.distanceToTravel"></span> km</span>
                        </div>
                        <div class="row slider-row">
                            <span class="col-md-3 slider-label">Average Driving Speed:</span>

                            <div class="col-md-6 slider-bar">
                                <div ui-slider min="0" max="300"
                                     ng-model="calcParams.drivingSpeed"></div>
                            </div>
                            <span class="col-md-3 slider-value"><span
                                    ng-bind="calcParams.drivingSpeed"></span> km/h</span>
                        </div>
                        <div class="row slider-row">
                            <span class="col-md-3 slider-label">Start Journey with State of Charge:</span>

                            <div class="col-md-6 slider-bar">
                                <div ui-slider min="0" max="100"
                                     ng-model="calcParams.firstCharge"></div>
                            </div>
                            <span class="col-md-3 slider-value"><span ng-bind="calcParams.firstCharge"></span> %</span>
                        </div>
                        <div class="row slider-row">
                            <span class="col-md-3 slider-label">Always Keep Range Reserve:</span>

                            <div class="col-md-6 slider-bar">
                                <div ui-slider="slider.reserveKm" min="0"
                                     ng-model="calcParams.reserveKm"></div>
                            </div>
                            <span class="col-md-3 slider-value"><span
                                    ng-bind="calcParams.reserveKm"></span> km</span>
                        </div>
                        <div class="row slider-row">
                            <span class="col-md-3 slider-label">Charging Power:</span>

                            <div class="col-md-6 slider-bar">
                                <div ui-slider min="0" max="200" step="0.1" use-decimals
                                     ng-model="calcParams.chargingPower"></div>
                            </div>
                            <span class="col-md-3 slider-value"><span
                                    ng-bind="calcParams.chargingPower"></span> kW</span>
                        </div>

                        <div class="row slider-row">
                            <span class="col-md-3 slider-label">Use Battery Part:</span>

                            <div class="col-md-6 slider-bar">
                                <div ui-slider="slider.batteryRange" min="0" max="100"
                                     ng-model="calcParams.batteryUseablePart"></div>
                            </div>
                            <span class="col-md-3 slider-value"><span ng-bind="calcParams.batteryUseablePart[0]"></span> - <span
                                    ng-bind="calcParams.batteryUseablePart[1]"></span> %</span>
                        </div>
                        <div class="row slider-row">
                            <span class="col-md-3 slider-label">Max C:</span>

                            <div class="col-md-6 slider-bar">
                                <div ui-slider min="0.0" max="10.0" step="0.1" use-decimals
                                     ng-model="calcParams.maxC"></div>
                            </div>
                            <span class="col-md-3 slider-value"><span ng-bind="calcParams.maxC"></span> C</span>
                        </div>

                        <a class="btn btn-info pull-right" style="margin:10px;" ng-click="recalcRange()">Calculate</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="info-main">
                    <div ng-show="chartConfig">
                    <highchart id="chart1" config="chartConfig"></highchart>
                    </div>

                    <div style="padding:10px;margin-top:10px;background-color: rgba(255,255,255,0.7);text-align: center;font-weight: 700;">
                        <p>Distance covered after <span ng-bind="totalDuration"></span> hours at <span
                                ng-bind="speedKmh"></span> km/h including <span ng-bind="numStops"></span> stop<span
                                ng-show="numStops > 1">s</span>:

                        <p>
                            <span class="superhero-font"><span
                                    ng-bind="calculatedDayRange || (selectedCar.range * batteryCapacityFactor) | number:0"></span> km</span>
                        </p>
                        </p>
                    </div>

                    <div ng-show="selectedPlug">
                        <div style="padding:10px;margin-top:10px;background-color: rgba(255,255,255,0.7);">

                            <span class="small-link"><a ng-click="toggleDetails()">Calculation Details</a></span>

                            <div ng-show="showDetails" class="details-box">
                                <p>One-way Range: <span ng-bind="calculatedRange | number:0"></span> km</p>

                                <p>Return Range: <span ng-bind="calculatedReturnRange | number:0"></span> km</p>

                                <p>Power Consumtion: <span ng-bind="consumptionKWhPerKm * 1000 | number:0"></span>
                                    Wh/km
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>