<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>ecompare</title>
    <!-- inject:css -->
    <!-- endinject -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="app" ng-controller="MainCtrl">

<nav class="navbar navbar-default" role="navigation" style="padding-left:15px;padding-right:15px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="fa fa-bolt"></span> ElectriCar <span class="fa fa-automobile"></span></a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':isPath('/main')}"><a href="#">Overview</a></li>
                <li class="dropdown" ng-class="{'active':isPath('/car')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Select Car <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="car in cars" style="cursor:pointer;">
                            <a ng-click="select(car)"><img src="images/{{car.image}}" height="40"/> <span ng-bind="car.name"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active':isPath('/about')}"><a href="#/about">About</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div ng-view="" class="container-fluid" style="padding-top:50px;"></div>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>