<div ng-controller="MainCtrl">
    <div class="quartett-board" id="quartett-board">
        <p class="page-intro">Choose one of the following cars to see details and find out how far it can really take you in one day.</p>
        <p class="hint">The list is sorted by battery capacity, starting with the most capable car</p>
        <div ng-repeat="car in cars" ng-click="select(car)" class="col-xl-2 col-lg-3 col-md-4 col-sm-6 quartett-card-wrapper">
            <div class="quartett-card" ng-class="{'quartett-card-with-details':car.rangeParams}">
                <div ng-if="car.discontinued" style="position: absolute;left:50px;top:120px;height: 130px;">
                    <img src="images/discontinued-stamp.png" style="margin: 4px;"/>
                </div>
                <div ng-if="car.soon" style="position: absolute;left:50px;top:120px;height: 130px;">
                    <img src="images/coming_soon_stamp.png" style="margin: 4px;"/>
                </div>
                <div ng-if="car.limited" style="position: absolute;left:165px;top:25px;height: 130px;">
                    <img src="images/limited-stock.png" style="margin: 4px;"/>
                </div>
                <div class="row">
                    <img ng-src="images/logos/{{car.logo}}" height="40" style="margin: 4px;"/>
                </div>

                <div class="img-div" style="height: 130px;background-color: white">
                    <img class="quartett-card-img" ng-src="images/{{car.image}}"/>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="car-choice-info" ng-bind="car.name"
                           style="font-size: 1em;font-weight: 700;color:#4d4b68;"></p>
                    </div>
                </div>
                <div class="row">
                    <table class="col-md-12 quartett-card-techpoints">
                        <tr>
                            <td>Motor</td>
                            <td class="tech-value"><span ng-bind="car.motorPowerKw"></span> kW (<span
                                    ng-bind="car.motorPowerKw * 1.35962 | number:0"></span> PS)
                            </td>
                        </tr>
                        <tr>
                            <td>0-100 km/h</td>
                            <td style="min-width: 110px;" class="tech-value"><span
                                    ng-bind="car.acceleration"></span> s
                            </td>
                        </tr>
                        <tr>
                            <td>Top Speed</td>
                            <td class="tech-value"><span ng-bind="car.maxSpeed"></span> km/h</td>
                        </tr>
                        <tr>
                            <td>Range</td>
                            <td class="tech-value"><span ng-bind="car.range"></span> km
                                <span ng-if="car.rangeMeasuringCycle">(<span ng-bind="car.rangeMeasuringCycle"></span>)</span>
                                <span ng-if="!car.rangeMeasuringCycle">(NEFZ)</span></td>
                        </tr>
                        <tr>
                            <td>Battery</td>
                            <td class="tech-value"><span ng-bind="car.battery | number:0"></span> kWh</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>