<input type="text" pInputText (keyup.enter)="addCar($event.target.value)" [(ngModel)]="brand">
<div class="grid-container">
  <div class="grid-item" *ngFor="let car of cars | async">

    <md-card class="example-card">
      <md-card-header>
        <img src="http://lorempixel.com/80/80/transport" md-card-avatar class="example-header-image">
        <md-card-title>{{car.brand}}</md-card-title>
        <md-card-subtitle>...something</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://lorempixel.com/400/400/transport">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="delete(car)"><span class="fa fa-times"></span></button>
      </md-card-actions>
    </md-card>

  </div>

  <md-progress-spinner
    *ngIf="loading"
    class="grid-item"
    [color]="'primary'"
    [mode]="'indeterminate'"
    value="50">
  </md-progress-spinner>

</div>
