<input type="text" pInputText (keyup.enter)="addCar($event.target.value)" [(ngModel)]="brand">
<div class="grid-container">
  <div class="grid-item" *ngFor="let car of cars | async; let i = index">

    <md-card class="example-card">
      <md-card-header>
        <img src="http://lorempixel.com/80/80/transport/{{i}}" md-card-avatar class="example-header-image">
        <md-card-title>{{car.brand}}</md-card-title>
        <md-card-subtitle>...something</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://lorempixel.com/400/400/transport/{{i}}">
      <md-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="delete(car)">DELETE</button>
      </md-card-actions>
    </md-card>

  </div>

  <md-progress-spinner
    *ngIf="loading"
    class="grid-item"
    [color]="'primary'"
    [mode]="'indeterminate'"
    value="50">
  </md-progress-spinner>

</div>
