<md-input-container>
  <input mdInput placeholder="Brand name" #carBrand (keyup.enter)="addCar($event.target.value)" [(ngModel)]="brand">
</md-input-container>

<button md-button (click)="addCar(carBrand.value)">Add</button>

<div class="grid-container">
  <app-card [car]="car"
            [index]="i"
            (deleteClicked)="delete(car)"
            *ngFor="let car of cars | async; let i = index;"></app-card>

  <md-progress-spinner
    *ngIf="loading"
    class="busy-spinner"
    [color]="'primary'"
    [mode]="'indeterminate'"
    value="50">
  </md-progress-spinner>
</div>
