<div class="menu">
  <div class="logo">
    <div class="logo-text">Demo App
    </div>
  </div>

  <button mat-button
          *ngFor="let item of items"
          (click)="item.command()"
          class="menu-button">
    {{item.label}}
  </button>

  <button *ngIf="(user | async)"
          mat-button [matMenuTriggerFor]="logoutMenu"
          class="menu-button">
    {{(user | async)?.displayName}} <span class="fa fa-chevron-down"></span>
  </button>

  <mat-menu #logoutMenu="matMenu" class="dropdown-menu">
    <button mat-menu-item (click)="logout()"> Logout</button>
  </mat-menu>
</div>
